@import url('https://fonts.googleapis.com/css?family=Nunito:400,800');

// Variables
// $navColor: #FDCF5C;
$navColor: #BA68C8;
$teletubbyGreen: #CFFF67;
// $activeListItem: mix(#000, $navColor, 3%);
$activeListItem: #9FE985;
// $hoverListItem: mix(#000, $navColor, 8%);
$hoverListItem: $teletubbyGreen;
$navBorderColor: mix(#000, $activeListItem, 1%);

html,
header,
div, 
ul,
li,
h1 {
	margin: 0;
	padding: 0;
}

html {
	font-family: 'Nunito', sans-serif;
	font-size: 16px;
}

.article {
	&__header {
		text-align: center;
	}
	&__heading {
		font-weight: 800;
	}
	&__breadcrumb {
		margin-bottom: 1em;
	}
	&__category {
		text-transform: uppercase;
	}
	&__nav {
		border: none;
		position: relative;
		text-align: left;
		width: 100%;
		margin: 0 auto;
		margin-bottom: 1em;
		font-size: 1.5rem;
		background: $navColor;
		// border-radius: 5px;
		@media screen and (min-width: 780px) {
			width: 50%;
		}
	}
	&__list {
		list-style-type: none;
		border: none;
		padding: 0;
	}
	&__nav-button {
		position: absolute;
		top: 8px;
		right: 6px;
		padding: 1em;
    margin: .1em;
    background: none;
		border: none;
		&:hover {
			cursor: pointer;
		}
	}
	&__icon {
		font-size: 1.5rem;
	}
	&__list-item {

	}
	&__list-item-img {
		max-height: 40px;
		margin-right: 10px;
	}
	&__list-item-category {

	}
	&__list-item_expanded:not(:last-child) {
		border-bottom: 2px solid $navBorderColor;
	}
	&__anchor {
		padding: .5em .5em;
		text-decoration: none;
		color: white;
		display: none;
		font-size: 1.2rem;
		text-transform: uppercase;
		-webkit-font-smoothing: antialiased;
		transition: all .5s;
		&:not(.article__anchor_active):hover {
			background: $hoverListItem;
			color: black;
			letter-spacing: 3px;
		}
	}
	&__anchor_active {
		display: flex;
		align-items: center;
		background: $activeListItem;
		color: black;
		&:hover {
			letter-spacing: 3px;
		}
	}
	&__anchor_expanded {
		// display: block;
		display: flex;
		align-items: center;
	}
}
