@import url('https://fonts.googleapis.com/css?family=Nunito:400,800');

html,
header,
div, 
ul,
li,
h1 {
	margin: 0;
	padding: 0;
}

html {
	font-family: 'Nunito', sans-serif;
}

.article {
	&__header {
		text-align: center;
	}
	&__heading {
		font-weight: 800;
	}
	&__nav {
		border: 1px solid gray;
		position: relative;
		text-align: left;
		width: 50%;
		margin: 0 auto;
	}
	&__list {
		list-style-type: none;
		border: none;
		padding: 0;
	}
	&__nav-button {
		position: absolute;
		top: 0;
		right: 0;
	}
	&__list-item {
		border: 1px solid #ddd;
	}
}
