@import url('https://fonts.googleapis.com/css?family=Nunito:400,800');

html,
header,
div, 
ul,
li,
h1 {
	margin: 0;
	padding: 0;
}

html {
	font-family: 'Nunito', sans-serif;
	font-size: 16px;
}

.article {
	&__header {
		text-align: center;
	}
	&__heading {
		font-weight: 800;
	}
	&__nav {
		border: 1px solid gray;
		position: relative;
		text-align: left;
		width: 50%;
		margin: 0 auto;
		margin-bottom: 1em;
	}
	&__list {
		list-style-type: none;
		border: none;
		padding: 0;
	}
	&__nav-button {
		position: absolute;
		top: 3px;
		right: 0;
		padding: .75em;
    margin: .1em;
    background: none;
		border: none;
		&:hover {
			cursor: pointer;
		}
	}
	&__icon {
		font-size: 1rem;
	}
	&__list-item {
		border: 1px solid #ddd;
		padding: .5em;
	}
	&__anchor {
		padding: .5em;
		text-decoration: none;
	}
}
